<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<main role="main">

  <h1>This is the owners page</h1>

  <%- include("_msg") %>

  <h2>Our owners list <a class="btn btn-info float-right" <%= page === 'owners_new' ? 'active' : "" %> href="
      /owners/new">Add owner</a></h2>

  <%- include("_searchForm") %>

  <ol class="list-group">
    <% owners.forEach(o=> { %>

    <li class="list-group-item d-flex justify-content-between">
      <div>
        name: <%= o.name %>,
        email: <%= o.email %>
        <br><small>created: <%= o.createdAt.toLocaleString() %></small>
        <br><small>edited: <%= o.updatedAt.toLocaleString() %></small>
      </div>

      <div>
        <a href="/owners/single/<%= o._id %>" class="btn btn-primary float-right">View</a>
        <form action="/owners/delete/<%= o._id %>" method="POST">
          <button class="btn btn-danger float-right mt-2" type="submit">Delete</button>
        </form>
      </div>
    </li>



    <% }) %>
  </ol>

</main>

<%- include("../partials/footer.ejs") %>